* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}

body {
  background: #05070f;
  color: white;
}

/* HEADER */
.header {
  height: 90px;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.logo {
  font-size: 1.8rem;
  font-weight: 600;
}

.logo span {
  color: #3fa9f5;
}

nav a {
  margin-left: 35px;
  text-decoration: none;
  color: #aaa;
}

nav a:hover {
  color: white;
}

/* HERO */
.hero {
  height: 85vh;
  padding: 0 8%;
  display: flex;
  align-items: center;
}

.hero-text {
  max-width: 650px;
}

.hero-text h1 {
  font-size: 3.5rem;
}

.hero-text p {
  margin-top: 20px;
  color: #bbb;
  font-size: 1.1rem;
}

/* BLOCKS */
.block {
  padding: 120px 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.block.reverse {
  direction: rtl;
}

.block.reverse * {
  direction: ltr;
}

.block img {
  width: 100%;
  border-radius: 18px;
  box-shadow: 0 0 30px rgba(63,169,245,0.25);
}

.block-text h2 {
  font-size: 2.6rem;
  margin-bottom: 25px;
}

.block-text p {
  color: #bbb;
  line-height: 1.7;
}

/* PROCESS */
.process {
  padding: 150px 8%;
  background: #070b1c;
}

.timeline {
  margin-top: 60px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.step {
  flex: 1;
  min-width: 160px;
  padding: 25px;
  text-align: center;
  border-radius: 12px;
  background: rgba(255,255,255,0.05);
}

/* CONTACT */
.contact {
  padding: 120px 5%;
}

.contact-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 30px;
}

/* RESPONSIVO */
@media(max-width: 900px) {
  .block {
    grid-template-columns: 1fr;
    text-align: center;
  }
}


.log{
    color: white;
    text-justify: initial;
    background-color: #3fa9f5;
    padding: 15px;
    border-radius: 5px; 

}
/* ===============================
   ANIMAÇÃO DE ENTRADA DAS SEÇÕES
================================ */
.block, 
.process, 
.contact {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

.block.show, 
.process.show, 
.contact.show {
  opacity: 1;
  transform: translateY(0);
}


/* ===============================
   TRANSIÇÃO ENTRE PÁGINAS
================================ */
body {
  transition: opacity 0.4s ease;
}

body.fade-out {
  opacity: 0;
}

