*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

html,body{
  width:100%;
  height:100%;
}

/* FUNDO */
body{
  background:
    radial-gradient(circle at top,#1c5cff66,transparent 40%),
    linear-gradient(160deg,#061428,#0b2e5f,#061428);
  overflow:hidden;
}

/* PARTICLES */
#particles{
  position:fixed;
  inset:0;
  z-index:0;
}

/* CENTRALIZAÇÃO */
.page{
  position:fixed;
  inset:0;
  display:grid;
  place-items:center;
  z-index:1;
}

/* CARD */
.card{
  width:420px;
  max-width:90%;
  background:rgba(255,255,255,0.12);
  backdrop-filter:blur(20px);
  border-radius:24px;
  padding:50px 40px;
  text-align:center;
  color:white;
  box-shadow:0 0 40px rgba(79,163,255,0.4);
}

/* TEXTO */
.card h1{
  font-size:42px;
  background:linear-gradient(90deg,#4fa3ff,#9bd4ff);
  -webkit-background-clip:text;
  color:transparent;
}

.card p{
  margin:15px 0 35px;
  opacity:0.85;
}

/* FORM */
form{
  display:flex;
  flex-direction:column;
  gap:18px;
}

input{
  padding:14px;
  border-radius:10px;
  border:none;
  outline:none;
  background:rgba(255,255,255,0.15);
  color:white;
}

input::placeholder{
  color:#dbe9ff;
}

button{
  margin-top:10px;
  padding:14px;
  border:none;
  border-radius:10px;
  background:linear-gradient(135deg,#4fa3ff,#1e78ff);
  color:white;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:translateY(-2px);
}

/* FOOTER */
.footer{
  margin-top:30px;
  font-size:14px;
}

.footer a{
  color:#8fd3ff;
  text-decoration:none;
}

/* LOGO PROTECH */

.logo{
  font-size:42px;
  font-weight:700;
  letter-spacing:1px;
}

.logo .pro{
  color:white;
}

.logo .tech{
  background:linear-gradient(90deg,#4fa3ff,#9bd4ff);
  -webkit-background-clip:text;
  color:transparent;
}
